@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

#presentation {
	font-family: "Comfortaa";
	height: 100vh;
	color: white;
}

#presentation h1 {
	font-size: 28pt;
}

#container {
	height: 100%;
}

main {
	height: 100vh;
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

body {
	overflow: hidden;
}

#videofeed {
	margin: 1rem 1rem;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
p {
	margin: 0px;
}
.col {
	width: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
}
