@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

#presentation {
  font-family: "Comfortaa";
  height: 100vh;
  color: white;
}

#presentation h1 {
  font-size: 48pt;
}

#container {
  height: 100%;
}

main {
  overflow: hidden;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
